body
{
  background-color: whitesmoke;
  margin: 20px;
}

header
{
  margin: -20px;
  margin-bottom: 20px;
  height: 40px;
  background-color: grey;
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer
{
  width: 100%;
  background-color: grey;
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  position:absolute;
  bottom:0;
  left:0;
}

#button-div
{
  text-align: center;
}

button
{
  height: 40px;
  color: dark-grey;
  text-align: center;
  font-size: 15px;
}
